body {
  background: #023e7d;
  color: #eee;
}

.wrapper {
  width: 50%;
  min-width: 360px;
  min-height: 600px;
  background: #01497c;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.button {
  align-items: center;
  background-color: #023e7d;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  width: auto;
}

button:hover,
button:focus {
  background-color: #023e7d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #012a4a;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

input {
  background-color: #89c2d9;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  outline: 0;
  padding: 4px 20px 0;
  height: 50px;
  margin: auto;
  width: 65%;
}

#search {
  width: 100%;
  margin: auto;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  background: #2a6f97;
  min-height: 30px;
  padding: 10px;
  margin-bottom: 2px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

span {
  margin: auto;
}

i {
  cursor: pointer;
  margin: auto 0px;
}

.hide {
  display: none !important;
}
